
{{#each messagesInfo}}
    <div>
        <font style="color: rgb(58, 58, 212);"><strong>{{this.email}} </strong></font>
        <font style="color: rgb(160, 55, 55);">[{{this.horaenvio}}]</font>: 
        <font style="color: rgb(47, 151, 47);"><i>{{this.message}}</i></font>
    </div>
{{/each}}