
{{#each productos}}
    <tr>
        <td class="align-middle">{{this.title}}</td>
        <td class="align-middle">{{this.price}}</td>
        <td class="align-middle text-center">{{this.thumbnail}} </td>
    </tr>
{{/each}}